.food-tabs-section {
  width: 100%;
  box-shadow: 1px 1px 1px gray;
  margin: 10px 0px;
}
.food-tabs-list {
  display: flex;
  justify-content: space-evenly;
}
.food-tabs-list li {
  list-style: none;
}
.food-tabs-list li button:hover {
  color: red;
  border-color: red;
}
.food-tabs-list li button {
  cursor: pointer;
  padding: 5px;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}
